.bg {

  background-color: #000000;
  background-image: -webkit-linear-gradient(237deg, #000000 0%, #2c3e50 74%);
  background-image: -o-linear-gradient(237deg, #000000 0%, #2c3e50 74%);
  background-image: linear-gradient(327deg, #000000 0%, #2c3e50 74%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
